/* Container styling */
.container {
  justify-items: center;
  width: 500px;
  height: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #afec06;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */
.container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 24px;
  color: #ffffff;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1.2rem;
}

/* Label */
.form label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  display: block;
  color: #000000;
}

/* Input */
.form input {
  align-content: center;
  padding: 0.7rem;
  width: 50%;
  border: 2px solid #191a19;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s;
}

.form input:focus {
  outline: none;
  border-color: #0077cc;
}

/* Error message */
.error {
  color: rgb(252, 55, 6);
  font-size: 0.97rem;
  margin-top: 0.30rem;
  margin-left: 0.60rem;
  display: inline-block;
}

/* Submit button */
.form button {
  width: 200px;
  padding: 0.9rem;
  background-color: #ffffff;
  color: #04f8cf;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background-color: #06fae6;
  color: #fffefe;
}
